// Media queries
.module--media-queries-block {
  height: 100px;
  background: blue;

  &:after {
    display: block;
    content: "Screen XS - < 320px";
  }

  @media (min-width: $screen-xs) {
    background: yellow;
    &:after {
      content: "Screen XS - < 321px";
    }
  }

  @media (min-width: $screen-s) {
    background: lightcoral;
    &:after {
      content: "Screen S - >= 381px";
    }
  }

  @media (min-width: $screen-m) {
    background: lightgreen;
    &:after {
      content: "Screen M - >= 481px";
    }
  }

  @media (min-width: $screen-ml) {
    background: lightseagreen;
    &:after {
      content: "Screen ML - >= 769px";
    }
  }

  @media (min-width: $screen-l) {
    background: lightsalmon;
    &:after {
      content: "Screen L - >= 993px";
    }
  }

  @media (min-width: $screen-xl) {
    background: lightskyblue;
    &:after {
      content: "Screen XL - >= 1025px";
    }
  }

  @media (min-width: $screen-xxl) {
    background-color: crimson;
    &:after {
      content: "Screen XXL - >= 1201px";
    }
  }
}