// Navigation menu
.module--navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
}


.m--navbar__nav {
  display: none;

  &.in {
    display: block;
  }

  @media(min-width: $screen-ml) {
    display: block;
  }
}

.m--navbar__inner {
  @extend %clearfix;
  width: 100%;

  @media (min-width: $screen-ml) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

}

.m--navbar__brand {
  display: block;
  justify-self: flex-start;
}


.m--navbar__nav--right {
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
}


.m--navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  .m--navbar__list__item > ul,
  .m--navbar__list__item > .m--navbar__dropdown__list {
    margin: 0;
    background: #fff;
    padding: 16px 0;
    list-style: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    min-width: 160px;
    opacity: 0;
    visibility: hidden;
    display: none;
    box-shadow: 0 1px 2px 0 rgba(#000, 0.2);
    transition-delay: 200ms;

    @media (min-width: $screen-l) {
      display: block;
    }
  }
}

.m--navbar__list__item > ul .m--navbar__list__item > ul,
.m--navbar__list__item > .m--navbar__dropdown__list .m--navbar__list__item > .m--navbar__dropdown__list {
  left: 100%;
  top: 0;

  .m--navbar__nav--right & {
    left: auto;
    right: 100%;
  }
}

.m--navbar__list__item {
  position: relative;

  &:hover {

      > .m--navbar__dropdown__list {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;

        @media (min-width: $screen-l) {
          display: block;
        }
      }

  }
}
.m--navbar__list__item__link, .m--navbar__dropdown__btn {
  padding: 24px 16px;
  font-size: 1.4rem;
}

.m--navbar__dropdown__list .m--navbar__list__item__link,
.m--navbar__dropdown__list .m--navbar__dropdown__btn {
  padding: 6px 12px;
}
