{% set demo = true %}

{% extends 'layouts/100.html' %}
{% block content %}

<section class="section section--media-queries">
    <div class="bg--dark text--white">
        <div class="container text-center">
            <div class="block block--padding">
                <div class="row row--ai-center row--jc-center">
                    <h1>Grid</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda aut beatae commodi cum dolor error illum, ipsam laudantium minima nostrum officia provident quasi quia recusandae repudiandae sapiente ut voluptatibus!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block block--padding">
        <div class="module module--grid {% if demo %} module-grid--demo {% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col--8">.col--8</div>
                    <div class="col--4">.col--4</div>
                </div>
                <div class="row">
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                    <div class="col-xs--12 col-m--6 col-xxl--1 col--4">.col-xs--12.col-m--6.col-xxl--1.col--4</div>
                </div>
                <div class="row">
                    <div class="col-xs--6 col-m--4 col-xl--2">.col-xs--6.col-m--4.col-xl--2</div>
                    <div class="col-xs--6 col-m--4 col-xl--2">.col-xs--6.col-m--4.col-xl--2</div>
                    <div class="col-xs--6 col-m--4 col-xl--2">.col-xs--6.col-m--4.col-xl--2</div>
                    <div class="col-xs--6 col-m--4 col-xl--2">.col-xs--6.col-m--4.col-xl--2</div>
                    <div class="col-xs--6 col-m--4 col-xl--2">.col-xs--6.col-m--4.col-xl--2</div>
                    <div class="col-xs--6 col-m--4 col-xl--2">.col-xs--6.col-m--4.col-xl--2</div>
                </div>

                <br>

                <hr>

                <br>

                <div class="row">
                    <div class="col-xs--6 col-m--3">
                        <img style="display: block; max-width: 100%; height: auto;" src="http://via.placeholder.com/350x150" alt="">
                    </div>
                    <div class="col-xs--6 col-m--3">
                        <img style="display: block; max-width: 100%; height: auto;" src="http://via.placeholder.com/350x150" alt="">
                    </div>
                    <div class="col-xs--6 col-m--3">
                        <img style="display: block; max-width: 100%; height: auto;" src="http://via.placeholder.com/350x150" alt="">
                    </div>
                    <div class="col-xs--6 col-m--3">
                        <img style="display: block; max-width: 100%; height: auto;" src="http://via.placeholder.com/350x150" alt="">
                    </div>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col--3 col-xs--6 col-m--4">test</div>
                <div class="col--6 col-xs--12 col-m--4">Coucou</div>
                <div class="col--3 col-xs--6 col-m--4">Test</div>
            </div>

        </div>

    </div>

</section>
{% endblock %}