{% extends 'layouts/100.html' %}

{% block content %}

<div class="bg--dark text--white">
    <div class="container text-center">
        <div class="block block--padding">
            <div class="row row--ai-center row--jc-center">
                <h1 data-module="example">{{ message }}</h1>
            </div>
        </div>
    </div>
</div>

  <section class="section">
    <div class="block block--padding">
      <div class="container">

          <h2>Base Elements</h2>
          <hr>
          <div class="emphase">
            Headings
          </div>
          <h3>Typography</h3>
          <h2 class="title--1--xlarge">Title extra large</h2>
          <h1>Heading H1</h1>
          <h2>Heading H2</h2>
          <h3>Heading H3</h3>
          <h4>Heading H4</h4>
          <h5>Heading H5</h5>
          <h6>Heading H6</h6>
          <hr>
          <div class="emphase">
            Text
          </div>
          <p>Paragraphs</p>
          <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. A ab alias aspernatur aut beatae dolor, <strong>ducimus, eaque error explicab</strong>o fuga ipsum, iste itaque laudantium mollitia neque nostrum numquam quae recusandae sit tenetur. A accusamus accusantium cum dicta ducimus eius enim error exercitationem fuga harum illum inventore ipsa laboriosam laudantium maxime necessitatibus, numquam officiis pariatur porro possimus quam quisquam quod recusandae repudiandae similique sint, soluta ut! Optio perferendis perspiciatis sequi vel.</p>
          <hr>
          <p>Lists</p>
          <ul class="list">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, exercitationem?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, recusandae!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, numquam?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, facilis?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, tempore!</li>
          </ul>
          <ol class="list-ordered">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, exercitationem?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, recusandae!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, numquam?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, facilis?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, tempore!</li>
          </ol>
          <ul class="list-inline">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, incidunt!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, exercitationem?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, recusandae!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, numquam?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, facilis?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, tempore!</li>
          </ul>
          <hr>
        </div>
    </div>
    <div class="block block--padding">
      <div class="container">
        <div class="emphase">
          Buttons
        </div>

        <div class="desc">Small buttons</div>

        <button type="button" class="btn btn--small">Button</button>
        <button type="button" class="btn btn--small btn--prime">Button prime</button>
        <button type="button" class="btn btn--small btn--second">Button</button>

        <div class="desc">Regular buttons</div>

        <button type="button" class="btn">Button</button>
        <a href="#" class="btn btn--prime">Button prime</a>
        <button type="button" class="btn btn--second">Button</button>

        <div class="desc">Big buttons</div>

        <button type="button" class="btn btn--big">Button</button>
        <button type="button" class="btn btn--big btn--prime">Button prime</button>
        <button type="button" class="btn btn--big btn--second">Button</button>

        <div class="desc">XXL buttons</div>

        <button type="button" class="btn btn--xxl">Button</button>
        <button type="button" class="btn btn--xxl btn--prime">Button prime</button>
        <button type="button" class="btn btn--xxl btn--second">Button</button>

        <div class="desc">Rounded buttons</div>

        <button type="button" class="btn btn--rounded">Button</button>
        <button type="button" class="btn btn--rounded btn--rounded--sr">Button</button>
        <button type="button" class="btn btn--prime btn--rounded btn--rounded--mr">Button prime</button>
        <button type="button" class="btn btn--second btn--rounded btn--rounded--lr">Button</button>

        <div class="desc">Icon buttons</div>

        <button type="button" class="btn">{{ sprite('apple', '0 0 1 1', 'ico ico-apple') }} Button</button>
        <button type="button" class="btn btn--prime">Button prime {{ sprite('vine', '0 0 1 1', 'ico ico-vine') }}</button>
        <button type="button" class="btn btn--second">Button {{ sprite('android', '0 0 1 1', 'ico ico-android') }}</button>

        <hr>

        <div class="desc">Disabled buttons</div>

        <button type="button" class="btn btn--disabled">Button</button>
        <button type="button" class="btn btn--rounded btn--rounded--mr btn--disabled">Button</button>
        <button type="button" class="btn btn--prime btn--disabled">Button prime</button>
        <button type="button" class="btn btn--icon btn--disabled">{{ sprite('apple', '0 0 1 1', 'ico ico-apple') }} Button</button>

      </div>
    </div>
    <div class="block block--padding">
      <div class="container">
        <div class="emphase">
          Grid
        </div>
      </div>
    </div>


  </section>
{% endblock %}
