{% extends 'layouts/100.html' %}
{% block content %}
<section class="section section--media-queries">
    <div class="bg--dark text--white">
        <div class="container text-center">
            <div class="block block--padding">
                <div class="row row--ai-center row--jc-center">
                    <h1>Media Queries</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block block--padding">
            <div class="module module--media-queries-block"></div>
        </div>

    </div>

</section>
{% endblock %}