{% extends 'layouts/100.html' %}

{% from 'macros/styleguide/module.html' import module %}

{% block content %}

<div class="bg--dark text--white">
    <div class="container text-center">
        <div class="block block--padding">
            <div class="row row--ai-center row--jc-center">
                <h1>Modules</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="sg-modules-container">
        <form action="">
            <select name="sg-module-selector"
                    id="sg-module-selector"
                    data-module="styleguide-module-selector">
                <option value="*">All</option>
            </select>
        </form>

        {% include 'shared/modules.html' %}

    </div>

</div>


{% endblock %}
