{% from 'macros/helpers.html' import sprite %}
<article class="card card--block">
    <div class="card__inner">
        <figure class="card__image">
            <a href="#" class="card__image__link">
                <img src="http://via.placeholder.com/768x432" alt="">
            </a>
            <figcaption class="card__image__caption card__image__caption--bg card__image__caption--bg--white">image caption</figcaption>
        </figure>
        <div class="card__elements">
            <header class="card--header">
                <h3 class="h3 card__title">
                    <a href="#">Card Title</a>
                </h3>
                <div class="card__icons">
                    {{ sprite('wordpress', '0 0 1 1', 'card__icon ico ico-wordpress') }}
                </div>
                <h4 class="card__category"><a href="#">Technology</a></h4>
                <div class="card__infos">
                    Publié le
                    <span class="card__infos__date">24/12/2016</span>
                    par
                    <span class="card__infos__author">
                    <a class="card__infos__author__link" href="#">
                        John Doe
                    </a>
                </span>
                </div>
            </header>
            <section class="card__body">
                <p class="card__resume">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere laboriosam nemo nihil nisi odio officia provident, quia sequi sunt unde!
                </p>
            </section>
            <footer class="card__footer">
                <div class="card__tags">
                    <h5 class="card__tags__title">Tags</h5>
                    <ul class="taglist card__taglist">
                        <li class="taglist__item"><a class="label label--tag" href="#">Tech</a></li>
                        <li class="taglist__item"><a class="label label--tag" href="#">web</a></li>
                        <li class="taglist__item"><a class="label label--tag" href="#">web</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</article>