<ul class="taglist data-list__item__taglist">
    <li class="taglist__item"><a class="label label--tag" href="#">Tech</a></li>
    <li class="taglist__item"><a class="label label--tag" href="#">Web</a></li>
    <li class="taglist__item"><a class="label label--tag" href="#">Art</a></li>
    <li class="taglist__item"><a class="label label--tag" href="#">Tech</a></li>
    <li class="taglist__item"><a class="label label--tag" href="#">Science</a></li>
    <li class="taglist__item"><a class="label label--tag" href="#">Web design</a></li>
</ul>