{% set include = true %}
{% macro module(module_path, title, subtitle, description, tags) %}

    <div class="sg-module {% if tags %} {% for tag in tags %} sg-module-tag--{{tag}} {% endfor %} {% endif %}" data-tags="{% if tags %}{% for tag in tags %}{{tag}}{% if loop.index < loop.length %} {% endif%}{% endfor %}{% endif %}">
        {% set title = title or "Module title" %}
        <h3 class="sg-module__title">{{title}}</h3>

        {% if subtitle %}
        <h4 class="sg-module__subtitle">{{subtitle}}</h4>
        {% endif %}

        {% if description %}
        <div class="sg-module__description">
            <p>{{description}}</p>
        </div>
        {% endif %}

        {% if module_path %}
        <div class="sg-module__content">
            {% if include == true %}
            {% include module_path %}
            {% else %}
            {{ module_path }}
            {% endif %}

        </div>
        {% else %}
            <p class="alert alert--warning">You must specify a module name to include</p>
        {% endif %}

    </div>
{% endmacro %}