// Blocks Variables

$block-base-padding: 4rem;
$block-base-padding-top: $block-base-padding;
$block-base-padding-bottom: $block-base-padding;
$block-base-margin: 2rem;
$block-base-margin-top: $block-base-margin;
$block-base-margin-bottom: $block-base-margin;

