// Breakpoints

// Extra Small
//$screen-xs:           20.0625em; // 321px
$screen-xs:           321px; // 321px

// Small
//$screen-s:            23.8125em; // 381px
$screen-s:            381px; // 381px

// Medium
//$screen-m:            30.0625em; // 481px
$screen-m:            481px; // 481px

// Medium Large
//$screen-ml:           48.0625em; // 769px
$screen-ml:           769px; // 769px

// Large
//$screen-l:            62.0625em; // 993px
$screen-l:            993px; // 993px

// Extra large
//$screen-xl:           64.0625em; // 1025px
$screen-xl:           1025px; // 1025px

// Extra Extra Large
//$screen-xxl:          75.0625em; // 1201px
$screen-xxl:          1201px; // 1201px