// Buttons variables

// Btn base values
$btn-base-padding-y: 8px;
$btn-base-padding-x: 12px;
$btn-base-font-size: 1.6rem;
$btn-base-font-weight: normal;
$btn-base-border-width: 2px;
$btn-base-border-color: #000;
$btn-base-bg-color: #000;
$btn-base-color: #fff;
$btn-base-transition-duration: 200ms;
$btn-base-box-shadow: none;
$btn-base-border-radius: 0;
$btn-base-letter-spacing: 1px;

// Btn base values hover
$btn-base-bg-color--hover: #fff;
$btn-base-color--hover: #000;

// Btn base values on focus
$btn-base-bg-color--focus: rgba($btn-base-bg-color, 0.1);

// Btn sizes

//// Btn big
$btn-big-padding-y: 10px;
$btn-big-padding-x: 16px;
$btn-big-font-size: 1.9rem;
$btn-big-font-weight: bold;
$btn-big-border-width: 2px;

//// Btn small
$btn-small-padding-y: 5px;
$btn-small-padding-x: 10px;
$btn-small-font-size: 1.2rem;
$btn-small-font-weight: normal;
$btn-small-border-width: 2px;


//// Btn xxl
$btn-xxl-padding-y: 12px;
$btn-xxl-padding-x: 24px;
$btn-xxl-font-size: 2.6rem;
$btn-xxl-font-weight: bold;
$btn-xxl-border-width: 3px;


// Btn special colors

//// Btn prime
$btn-prime-color: #fff;
$btn-prime-bg-color: $color1;
$btn-prime-border-color: $color1;

$btn-prime-color--hover: #fff;
$btn-prime-bg-color--hover: lighten($color1, 5%);
$btn-prime-border-color--hover: lighten($color1, 5%);
$btn-prime-border-color--hover: $color1;

//// Btn second
$btn-second-color: #fff;
$btn-second-bg-color: $color2;
$btn-second-border-color: $color2;

$btn-second-color--hover: #fff;
$btn-second-bg-color--hover: lighten($color2, 5%);
$btn-second-border-color--hover: lighten($color2, 5%);
$btn-second-border-color--hover: $color2;

// Btn rounded

//// Btn rounded base radius
$btn-rounded-border-radius: 6px;

//// Btn rounded small radius
$btn-rounded-border-radius--sr: 3px;

//// Btn rounded medium radius
$btn-rounded-border-radius--mr: 12px;

//// Btn rounded large radius
$btn-rounded-border-radius--lr: 100px;

// Btn disabled
$btn-disabled-bg-color: #eee;
$btn-disabled-color: #ccc;
$btn-disabled-border-color: #ddd;
$btn-disabled-cursor-style: not-allowed;
