// Container variables

// Base container values
$container-base-max-width: 1200px;
$container-base-margin: 0 auto;


// Container small
$container--small-max-width: 680px;

// Container medium
$container--medium-max-width: 960px;

// Container large
$container--large-max-width: 1380px;

// Container extra large
$container--xlarge-max-width: 1920px;

// Container full
$container--full-max-width: 100%;