// Links variables

// Link base
$link-base-color: darken($color1, 20%);
$link-base-text-decoration: none;
$link-base-transition-duration: 200ms;

// Link hover
$link-base-color--hover: $color1;
$link-base-text-decoration--hover: none;