html {
  font-size: 62.5%;
}


body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.title--1--xlarge {
  font-size: 6.4rem;
}

h1, .title--1 {
  font-size: 2.4rem;
  @media (min-width: $screen-ml) {
    font-size: 4.2rem;
  }
}

h2, .title--2 {
  font-size: 2rem;
  @media (min-width: $screen-ml) {
    font-size: 3.6rem;
  }
}

h3, .title--3 {
  font-size: 1.9rem;
  @media (min-width: $screen-ml) {
    font-size: 3.1rem;
  }
}

h4, .title--4 {
  font-size: 1.8rem;
  @media (min-width: $screen-ml) {
    font-size: 2.5rem;
  }
}

h5, .title--5 {
  font-size: 1.8rem;
  @media (min-width: $screen-ml) {
    font-size: 2.0rem;
  }
}

h6, .title--6 {
  font-size: 1.6rem;
  @media (min-width: $screen-ml) {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

strong {
  font-weight: bold;
}