<div class="module module--navbar">
    <div class="m--navbar__inner container">
        <button type="button"
                class="btn btn--navbar collapsed"
                data-module="navbar-toggle"
                data-target="main-navigation"
                data-target-visible="false"
                aria-expanded="false">
            <span class="sr-only">Show / hide navigation menu</span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="#" class="m--navbar__brand">Bones</a>
        <nav id="main-navigation"
             class="m--navbar__nav m--navbar__nav--right">
            <ul class="m--navbar__list">
                <li class="m--navbar__list__item">
                    <a href="/" class="m--navbar__list__item__link">
                        Home
                    </a>
                </li>
                <li class="m--navbar__list__item">
                    <a href="media-queries.html" class="m--navbar__list__item__link">
                        Media queries
                    </a>
                </li>
                <li class="m--navbar__list__item">
                    <a href="grid.html" class="m--navbar__list__item__link">
                        Grid
                    </a>
                </li>
                <li class="m--navbar__list__item m--navbar__dropdown">
                    <a href="#" class="m--navbar__dropdown__btn">
                        Layouts
                    </a>
                    <ul class="m--navbar__dropdown__list m--navbar__list--level-2">
                        <li class="m--navbar__list__item">
                            <a href="two-columns-sidebar-left.html" class="m--navbar__list__item__link">
                                Layouts - Two columns sidebar left
                            </a>
                        </li>
                        <li class="m--navbar__list__item">
                            <a href="two-columns-sidebar-right.html" class="m--navbar__list__item__link">
                                Layouts - Two columns sidebar right
                            </a>
                        </li>
                        <li class="m--navbar__list__item">
                            <a href="three-columns.html" class="m--navbar__list__item__link">
                                Layouts - Three columns
                            </a>
                        </li>
                        <li class="m--navbar__list__item m--navbar__dropdown">
                            <a href="#" class="m--navbar__dropdown__btn">
                                Third level nav menu list
                            </a>
                            <ul class="m--navbar__dropdown__list m--navbar__list--level-3">
                                <li class="m--navbar__list__item">
                                    <a href="two-columns-sidebar-left.html" class="m--navbar__list__item__link">
                                        Layouts - Two columns sidebar left
                                    </a>
                                </li>
                                <li class="m--navbar__list__item">
                                    <a href="two-columns-sidebar-right.html" class="m--navbar__list__item__link">
                                        Layouts - Two columns sidebar right
                                    </a>
                                </li>
                                <li class="m--navbar__list__item">
                                    <a href="three-columns.html" class="m--navbar__list__item__link">
                                        Layouts - Three columns
                                    </a>
                                </li>
                                <li class="m--navbar__list__item">
                                    <a href="three-columns.html" class="m--navbar__list__item__link">
                                        Layouts - Three columns
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="m--navbar__list__item">
                    <a href="modules.html" class="m--navbar__list__item__link">
                        Modules
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>