{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'shared/navigation/main-nav.html' %}
    {% block header %} {% endblock %}
    {% block content %}{% endblock %}

    {% block before_footer %} {% endblock %}
    {% block javascript %}
      <script src="javascript/app.js"></script>
    {% endblock %}

    <footer id="site-footer" class="site-footer">
      Footer
    </footer>

  </body>
</html>
