{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'shared/navigation/main-nav.html' %}
    <main id="main" class="main">
        {% block header %} {% endblock %}
        <div class="container">
            <div class="row row--wrap">
                <div class="col--12 col-ml--3">
                    {% block content_left %}{% endblock %}
                </div>
                <div class="col--12 col-ml--9">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

    </main>


    {% block before_footer %} {% endblock %}
    {% block javascript %}
    <script src="javascript/app.js"></script>
    {% endblock %}

    <footer id="site-footer" class="site-footer">
        Footer
    </footer>
</body>
</html>
