
<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button big-prime</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/big/button-big-prime.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button big-second</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/big/button-big-second.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button big</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/big/button-big.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button prime</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/buttons/regular/button-prime.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button second</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/buttons/regular/button-second.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/buttons/regular/button.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button small-prime</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/buttons/small/button-small-prime.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button small-second</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/buttons/small/button-small-second.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button small</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/buttons/small/button-small.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">card block</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/card/card-block.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">card inline</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/card/card-inline.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">block</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/data-list/block.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">line</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/data-list/line.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button rounded-prime-medium-radius</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/rounded/button-rounded-prime-medium-radius.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button rounded-second-large-radius</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/rounded/button-rounded-second-large-radius.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button rounded-small-radius</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/rounded/button-rounded-small-radius.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button rounded</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/rounded/button-rounded.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">tag list</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/tag-list/tag-list.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button xxl-prime</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/xxl/button-xxl-prime.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button xxl-second</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/xxl/button-xxl-second.html'%}
     </div>
</div>

<div class="sg-module   sg-module-tag--cards  sg-module-tag--blocks  " data-tags="cards blocks">
    <h3 class="sg-module__title">button xxl</h3>
    <h4 class="sg-module__subtitle">test of subtitle</h4>
    <div class="sg-module__description">
       <p>Hello world</p>
    </div>
     <div class="sg-module__content">
           {% include 'modules/xxl/button-xxl.html'%}
     </div>
</div>
